@using StudentsManager.UI.Models
@model Student

<div class="container mt-5">
    <h2 class="text-light">Detalles del Estudiante</h2>
    <hr class="text-white" />
    <div class="card bg-dark text-white shadow-lg">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                <strong>ID:</strong> @Model.Id <br />
                <strong>Matrícula:</strong> @Model.StudentNumber <br />
                <strong>Fecha de Nacimiento:</strong> @Model.DateOfBirth.ToShortDateString()
            </p>
            <div class="mt-4">
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2">Editar</a>
                <a asp-controller="Students" asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
